.title {
  margin-left: 10px;
}

.box {
  height: 60px;
  width: 225px;
}

.hero {
  background: url("../img/hero.jpg");
  background-size: cover;
  flex-direction: column;
  height: 450px;
  justify-content: center;
}

.heroTitle {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 0;
}

.food {
  font-weight: 300;
  line-height: 20px;
  font-size: 18px;
}

i {
  vertical-align: bottom;
}

main {
  margin: 30px 0;
}
