.title {
  margin-left: 10px;
}

.box {
  height: 60px;
  width: 225px;
}

.hero {
  position: relative;
}

.order {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heroTitle {
  font-weight: 600;
}

.promotions {
  position: relative;
}
.shoppingIcon {
  margin-right: 10px;
  margin-top: 20px;
}

.shopOnline {
  /*bottom: 160px;*/
  display: inline;
  /*position: absolute;*/
}

.shippingIcon {
  margin-right: 10px;
  margin-top: 20px;
}

.delivery {
  /*bottom: 160px;*/
  display: inline;
  /*position: absolute;*/
}

.discountIcon {
  margin-right: 10px;
  margin-top: 20px;
}

.discounts {
  /*bottom: 160px;*/
  display: inline;
  /*position: absolute;*/
}
